{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "semi": false
      }
    ],
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
